* {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body.lock {
  overflow: hidden;
}

.hidden {
  display: none;
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 10px 0px 10px;
}

.title {
  margin: 0px 0px 0px 230px;
  padding: 30px 0px 41px 0px;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}

.full {
  display: none;
}

.comments:before {
  content: url("../img/news/comment.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px 0px 0px;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blue {
  color: #586EB6;
}

.date {
  margin: 0px 10px 0px 0px;
}

.header:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  height: 100px;
  width: 100%;
  background: #FFFFFF;
  z-index: 2;
}

.header {
  padding: 0px 10px 0px 10px;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.header__content {
  position: relative;
  z-index: 3;
  max-width: 1530px;
  width: 100%;
  margin: 0px auto;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40px;
}

.header__logo {
  max-width: 154px;
}

.header__logo img {
  display: block;
  width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__list li {
  margin: 0px 18px 0px 18px;
}

.header__link {
  font-weight: 400;
  font-size: 15pxpx;
  line-height: 18pxpx;
  color: #181818;
  text-decoration: none;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.header__add span::before {
  content: '+';
  margin: 0px 15px 0px 0px;
}

.header__add {
  margin: 0px 30px 0px 0px;
  padding: 11px 15px 11px 15px;
  background: #7AB764;
  text-decoration: none;
  font-weight: 500;
  font-size: 15pxpx;
  line-height: 18pxpx;
  color: white;
  border-radius: 5px;
}

.header__login {
  padding: 11px 25px 11px 25px;
  font-weight: 500;
  font-size: 15pxpx;
  line-height: 18pxpx;
  color: #7AB764;
  text-decoration: none;
  background: #DEF1D7;
  border-radius: 5px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border: 1px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background: #fff;
}

.sidebar__header span:before {
  content: url("../img/sidebar/articles.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 15px 0px 0px;
}

.sidebar__header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 15pxpx;
  line-height: 18pxpx;
  color: #586EB6;
}

.sidebar__split {
  margin: 20px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 1px;
  background-color: #ECECEC;
}

.sidebar__news {
  margin: 0px 0px 10px 0px;
}

.sidebar__news span {
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
  color: #586EB6;
}

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.sidebar__list li {
  margin: 10px 0px 10px 0px;
}

.sidebar__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
  color: #181818;
}

.sidebar__blog {
  margin: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.sidebar__blog:before {
  content: url("../img/sidebar/blog.svg");
  padding: 0px 13px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
}

.sidebar__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.sidebar__reviews:before {
  content: url("../img/sidebar/reviews.svg");
  padding: 0px 13px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
}

.sidebar__rating {
  margin: 20px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.sidebar__rating:before {
  content: url("../img/sidebar/rating.svg");
  padding: 0px 13px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
}

.sidebar__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.sidebar__video:before {
  content: url("../img/sidebar/video.svg");
  padding: 0px 13px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
}

.sidebar__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin: 20px 0px 0px 0px;
}

.sidebar__questions:before {
  content: url("../img/sidebar/questions.svg");
  padding: 0px 13px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
}

.main {
  height: 100%;
  background: #E5E5E5;
}

.main__content {
  padding: 0px 0px 30px 0px;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
}

.main__center {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 740px;
          flex: 0 0 740px;
  margin: 0px 30px 0px 30px;
}

.main__article {
  background: #fff;
  border: 1px solid #ECECEC;
  border-radius: 10px;
  max-width: 353px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__wide {
  margin: 30px 0px 30px 0px;
  height: 250px;
  width: 100%;
}

.main__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.main__pages {
  margin: 0px 0px 128px 0px;
}

.article__body {
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.article__title {
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
  color: #586EB6;
}

.article__header {
  margin: 5px 0px 0px 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #181818;
}

.article__row {
  padding: 0px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
  color: #9E9E9E;
}

.article__comments:before {
  content: url("../img/news/comment.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px 0px 0px;
}

.wide__content {
  padding: 0px 20px 20px 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
}

.wide__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.wide__header {
  margin: 10px 0px 20px 0px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31.2px;
}

.wide__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: 0.5;
}

.wide__date {
  margin: 0px 20px 0px 0px;
}

.pages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.pages__list li {
  margin: 0px 9px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
}

.pages__list li:last-child {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pages__list li:last-child a {
  padding: 0px 15px 0px 15px;
}

.pages__list li.active {
  background-color: #586EB6;
}

.pages__list li.active a {
  color: #fff;
}

.pages__link {
  text-align: center;
  text-decoration: none;
  color: #9E9E9E;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.pages__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background: #586EB6;
}

.pages__more a {
  padding: 0px 30px 0px 30px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
}

.right__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.right__search input {
  height: 50px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 0px 0px 0px 30px;
}

.right__search input::-webkit-input-placeholder {
  background: url("../img/news/search.svg") no-repeat 0px 0px;
  padding: 1px 0px 0px 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #9E9E9E;
}

.right__search input:-ms-input-placeholder {
  background: url("../img/news/search.svg") no-repeat 0px 0px;
  padding: 1px 0px 0px 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #9E9E9E;
}

.right__search input::-ms-input-placeholder {
  background: url("../img/news/search.svg") no-repeat 0px 0px;
  padding: 1px 0px 0px 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #9E9E9E;
}

.right__search input::placeholder {
  background: url("../img/news/search.svg") no-repeat 0px 0px;
  padding: 1px 0px 0px 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #9E9E9E;
}

.right__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
}

.news__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #181818;
}

.news__content {
  margin: 15px 0px 0px 0px;
}

.news__row {
  margin: 7px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9E9E9E;
}

.email__content {
  margin: 21px 0px 31px 0px;
  padding: 20px 14px 20px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border: 1px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.email__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
  color: #181818;
}

.email__push {
  display: none;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  height: 180px;
  border: 1px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.email__push span {
  text-align: center;
  color: #181818;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.email form input {
  width: 100%;
  height: 45.67px;
}

.email form input:first-child {
  border: 1px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
}

.email form input::-webkit-input-placeholder {
  padding: 10px 0px 10px 13px;
}

.email form input:-ms-input-placeholder {
  padding: 10px 0px 10px 13px;
}

.email form input::-ms-input-placeholder {
  padding: 10px 0px 10px 13px;
}

.email form input::placeholder {
  padding: 10px 0px 10px 13px;
}

.email form input:last-child {
  color: #fff;
  background: #586EB6;
  border-radius: 5px;
  margin: 15px 0px 0px 0px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
}

.bottom {
  height: 45px;
  max-width: 1400px;
  width: 100%;
  margin: 0px auto;
}

.bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.bottom__list li {
  margin: 0px 10px 0px 10px;
}

.bottom__link {
  text-decoration: none;
  color: #9E9E9E;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.bottom__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 19px;
}

.bottom__social img {
  margin: 0px 10px 0px 10px;
}

.footer {
  background: #F4F4F4;
}

.footer__wrapper {
  padding: 31px 0px 0px 0px;
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  border-bottom: 1px solid #ECECEC;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__header {
  margin: 0px 0px 18px 0px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #181818;
}

.footer__list {
  list-style: none;
}

.footer__list li {
  margin: 15px 0px 15px 0px;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #181818;
}

.footer__split {
  width: 100%;
  height: 1px;
  background-color: #ECECEC;
}

.footer__bottom {
  padding: 36px 30px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 620px;
          flex: 0 0 620px;
  color: #181818;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.footer__copyright {
  color: #181818;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

@media (max-width: 1440px) {
  .header:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100px;
    width: 100%;
    background: #FFFFFF;
    z-index: 2;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  .header__content {
    max-width: 1440px;
  }
  .header__menu {
    display: block;
    position: fixed;
    z-index: 3;
    background: #fff;
    width: 100%;
    height: 100%;
    top: -10000%;
    left: 0;
  }
  .header__menu.active {
    padding: 0px 0px 100px 0px;
    top: 100px;
    overflow: auto;
  }
  .header__list {
    padding: 20px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__list li {
    padding: 0px 0px 0px 20px;
    margin: 10px 0px 10px 0px;
  }
  .header__burger {
    width: 20px;
  }
  .header__burger span::before,
  .header__burger span::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #181818;
    position: relative;
  }
  .header__burger span::before {
    content: '';
    bottom: 7px;
  }
  .header__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #181818;
  }
  .header__burger span::after {
    content: '';
    display: block;
    top: 5px;
  }
  .header__burger.active span::before {
    content: '';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    display: block;
    position: relative;
    top: 0px;
  }
  .header__burger.active span {
    display: block;
    height: 0;
  }
  .header__burger.active span::after {
    content: '';
    display: block;
    position: relative;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -2px;
  }
  .main {
    margin: 100px 0px 0px 0px;
  }
  .main__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__left {
    display: none;
  }
  .main__center {
    margin: 0px 0px 0px 0px;
  }
  .main__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__article {
    max-width: calc(50% - 20px);
  }
  .main__wide {
    width: 100%;
  }
  .main__pages {
    margin: 0px 0px 50px 0px;
  }
  .container {
    max-width: 944px;
  }
  .article {
    margin: 0px 0px 0px 0px;
  }
  .article__image {
    height: 240px;
    width: 100%;
  }
  .article__image img {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .right__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    width: 100%;
  }
  .email__push {
    display: none;
  }
  .bottom__logo {
    display: none;
  }
}

@media (max-width: 1023px) {
  .header__content {
    max-width: 1023px;
  }
  .title {
    margin: 0px 0px 0px 0px;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
  }
  .full {
    margin: 30px 0px 30px 0px;
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #586EB6;
  }
  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom {
    height: auto;
  }
  .bottom__row {
    margin: 0px 0px 0px 0px;
  }
  .bottom__logo {
    display: none;
  }
  .bottom__list {
    display: none;
  }
  .bottom span {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #9e9e9e;
  }
  .footer__row {
    display: none;
  }
  .footer__split {
    display: none;
  }
  .footer__bottom {
    display: none;
  }
}

@media (max-width: 767px) {
  .header:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100px;
    width: 100%;
    background: #FFFFFF;
    z-index: 2;
  }
  .header__content {
    max-width: 767px;
    width: 100%;
  }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__menu.active {
    top: 100px;
  }
  .header__right {
    display: none;
  }
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__title:after {
    content: '';
    margin: 0px 0px 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 11px;
    height: 10px;
    border-bottom: 2px solid #181818;
    border-left: 2px solid #181818;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .main__title.active:after {
    content: '';
    margin: 0px 0px 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 11px;
    height: 10px;
    border-bottom: 2px solid #181818;
    border-left: 2px solid #181818;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .main__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__row.hidden {
    display: none;
  }
  .main__center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .main__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__article {
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
    max-width: 100%;
    width: 100%;
  }
  .main__pages {
    margin: 0px 0px 0px 0px;
  }
  .container {
    max-width: 767px;
    width: 100%;
    margin: 0px auto;
  }
  .article__image {
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .article__image img {
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .pages__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pages__num {
    display: none;
  }
  .pages__more {
    padding: 10px 30px 10px 30px;
    margin: 0px 0px 30px 0px;
  }
  .right__search {
    margin: 10px 0px 0px 0px;
  }
  .news__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 321px) {
  .header__row {
    padding: 0px 10px 0px 10px;
  }
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
  }
}
